<header class="navigation">
  <div class="menu-wrapper">
    <a href="/" class="logo">
      <img src="https://s3-us-west-1.amazonaws.com/cobackcountry/cobackcountry_logo_no_word_CO.png" alt="">
    </a>
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><%= link_to "About Us", about_path %></li>
        <li class="nav-link"><%= link_to "Contact", contact_path %></li>
        <li class="nav-link"><%= link_to "New Route", new_ski_place_path %></li>
        <li class="nav-link more"><a href="javascript:void(0)">More Backcountry</a>
          <ul class="submenu">
            <li> <%= link_to "Safety", safety_path %></li>
            <li> <%= link_to "Resources", resources_path %></a></li>
          </ul>
        </li>

      </ul>
    </div>
    <div class="navigation-tools">
      <div class="search-bar">
        <div class="search-and-submit">
          <input type="search" placeholder="Find a route" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon.png" alt="">
          </button>
        </div>
      </div>
      <a href="javascript:void(0)" class="sign-up">Sign Up</a>
    </div>
  </div>
</header>

<script>
  $(function() {
    var menu = $('#navigation-menu');
    var menuToggle = $('#js-mobile-menu');
    var signUp = $('.sign-up');

    $(menuToggle).on('click', function(e) {
      e.preventDefault();
      menu.slideToggle(function(){
        if(menu.is(':hidden')) {
          menu.removeAttr('style');
        }
      });
    });

    // underline under the active nav item
    $(".nav .nav-link").click(function() {
      $(".nav .nav-link").each(function() {
        $(this).removeClass("active-nav-item");
      });
      $(this).addClass("active-nav-item");
      $(".nav .more").removeClass("active-nav-item");
    });
  });
</script>
